<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Get method testing</title>
</head>
<body>
    <form action="{{ url_for('getdatatesting') }}">
        <label for="">Name  : </label>
        <input type="text" name="name" id=""><br><br>

        <select name="options" id="">

            <option value="Jay shri ram">Jay shri ram</option>
            <option value="Jay bhim">Jay bhim</option>
            <option value="Jay hind">Jay hind</option>
            <option value="Jay bhawani">Jay bhawani</option>

        </select>
        <button type="submit">Submit</button>
    </form>
</body>
</html>