<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2>welcome at home page</h2>
    <br><br><br><br><br><br><br><br>
    <h3>Test your API request for ml project click on below button</h3>
    <a href="http://127.0.0.1:5000/MLAPI">ML Testing API Page</a>


    <h3>But has route path as link</h3>
    <p>when you will clik on these button you will redirect on different route.</p>
    <a href="http://127.0.0.1:5000/about">Go on about</a><br>
    <a href="http://127.0.0.1:5000/contact">Go on contact</a><br>
    <a href="http://127.0.0.1:5000/course">Go on course</a><br>
    <a href="http://127.0.0.1:5000/service">Go on service</a><br>

</body>
</html>